{{ define "main" }}
<div id="content" class="posts h-feed hfeed">
    <h1>Blog</h1>
    {{ template "_internal/pagination.html" . }}
    {{ range .Paginator.Pages.ByPublishDate.Reverse }}
    <p class="h-entry">
        <h3><a class="title u-url p-name" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        <time class="dt-published" datetime="{{ .PublishDate }}">{{ .PublishDate.Format "Mon, Jan 2, 2006" }}</time>
        {{ partial "tags.html" .}}
        <p class="summary">
            {{ .Summary }}
        </p>
        {{ if .Truncated }}
        <div>
            <a href="{{ .RelPermalink }}">Read More...</a>
        </div>
        {{ end }}
    </p>
    {{ end }}
    {{ template "_internal/pagination.html" . }}
</div>
{{ end }}
