{{ define "main" }}
<div id="content">
    <article class="h-entry">
        <h1 class="p-name">{{ .Title }}</h1>
        <a class="p-author h-card hidden" href="https://yequari.com">yequari</a>
        <time class="dt-published" datetime={{.PublishDate }}>{{ .PublishDate.Format "Mon, Jan 02, 2006" }}</time>
        <a class="u-url permalink" href={{ .RelPermalink }}>Permalink</a>
        {{ partial "tags.html" .}}
        <div class="e-content">
            {{ .Content }}
        </div>
    </article>
    <div id="webmentions"></div>
</div>
{{ end }}
