/* CSS HEX */
:root {
    --jet: #353535ff;
    --chinese-red: #aa3322ff;
    --pale-silver: #c4bbafff;
    --space-cadet: #292640ff;
    --xiketic: #0f101aff;
    --blue-ryb: #4056f4ff;
    --raisin-black: #241e1eff;
    --dim-gray: #756b6bff;
    --pewter-blue: #93A8ACff;
}

@font-face {
    font-family: "Genesis";
    src: url("/fonts/NiseGenesis.TTF");
}

/*
 * Page text: Asar
 * Headings & Top nav: Syne Mono 
 */

body {
    background-color: var(--jet);
    color: var(--pale-silver);
    font-family: 'Asar', serif;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

p {
    font-size: 1.1rem;
    line-height: 2;
}

a:link, a:visited {
    transition-property: color;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
    color: var(--chinese-red);
    text-decoration: none;
}

a:hover, a:active {
    color: var(--pewter-blue);
}

h1,h2,h3,h4,h5,h6 {
    color: var(--pewter-blue);
    font-family: 'Bungee', display;

}

.hidden {
    display: none;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 1000px;
    margin: 10px auto;
    background-color: var(--raisin-black);
    padding: 0 20px;
    border: 4px double var(--dim-gray);
    border-bottom-color: var(--chinese-red);
    border-radius: 3px;
    min-height: 800px;
}

#header {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 100px auto 10px auto;
    padding: 0;
    z-index: 1;
    text-align: center;
}

#container {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    /* gap: 20px; */
    z-index: 1;
    margin: 0 0.1rem;
}

.sidebar {
    flex: 3 1;
    margin: 0 2rem;
}

.sidebar p {
    line-height: 1;
}


#sidebar img {
    padding: 2em 2em;
}

#content {
    flex: 8 1;
    padding: 0 1rem;
}

#content p {
    text-indent: 1rem;
    text-align: justify;
}

#content::-webkit-scrollbar {
    display: none;
}

#footer {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--pale-silver);
    padding: 0 0 15px 0px;
    text-align: center;
    color: var(--dim-gray)
}

#quote {
    flex: 1;
}

#social-links {
    flex: 1;
}



div.nav {
    flex: 1;
    height: 50px;
    border: 2px solid var(--pale-silver);
    border-radius: 40px;
    margin: 10px auto;
    padding: 1px 20px;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li.nav {
    display: inline;
}

li.nav a {
    display: inline-block;
    padding: 15px 20px;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
    font-family: 'Nova Mono', monospace;
    font-weight: bold;
    font-size: 0.9em;
}

li.nav a:hover, li.nav a:active {
    background-color: var(--jet);
    color: var(--chinese-red);
}

div.titlex h1 {
    font-family: "Genesis", 'Courier New', Courier, monospace;
    color: var(--pewter-blue);
}

ul.social {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    color: var(--jet)
}

li.social {
    display: inline;
}

li.social a {
    display: inline-block;
    padding: 0 10px;
    color: var(--jet);
}

a.permalink {
    padding: 0 5px;
}

a.summary {
    color: var(--pale-silver);
}

time.dt-published {
    color: var(--dim-gray);
}

ul.posts {
    list-style-type: none;
}

img {
    max-width: 500px;
    height: auto;
}

code {
    background-color: black;
    padding: 10px;
    overflow-x: scroll;
    color: white;
}

pre code{
    display: block;
}

#webmentions img { max-height: 1.2em; margin-right: -1ex; }

.center {
    text-align: center;
}

ul.pagination {
    list-style: none;
}

li.page-item {
    display: inline;
    padding: 0.3rem;
}

/*
decorative stuff :)
*/

#vent {
    width: 200px;
    height: 410px;
    background-color: var(--raisin-black);
    background-image: url("/images/gen-texture1.png");
    position: absolute;
    left: 0px;
    top: 30px;
    z-index: -1;
}

/*
 * Links page
 */


#links-main {
    display: flex;
    flex-flow: row wrap;
}

#links-main li {
    padding: 7px 0;
}

.links-column {
    flex: 1 1 33%;
    overflow-wrap: break-word;
}

.hover-links {
    position: relative;
    border-bottom: 1px dotted var(--chinese-red);
}

.hover-links:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    max-width: 340px;
    min-width: 200px;
    background-color: var(--xiketic);
    color: var(--pewter-blue);
    text-align: center;
    border: 4px double var(--dim-gray);
    border-radius: 5px;
    padding: 5px;
    transition: opacity 1s ease-in-out;
    position: absolute;
    z-index: 1;
    left: -50px;
    top: -250%;
}

.hover-links:hover:before {
    opacity: 1;
    visibility: visible;
}

@media only screen and (max-width: 500px) {
    div.nav {
        border: none;
    }
}
