<div id="header">
    <div class="titlex">
        <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
    </div>
    <div class="nav">
        <ul class="nav">
            {{ range site.Menus.main }}
            <li class="nav"><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
        </ul>
    </div>
</div>
