<head>
    <meta name="viewport" content="width=device-width"> 
    <meta charset="utf-8">
    <title>{{ .Page.Title }}</title>
    <link rel="preconnect" href="https://fonts.bunny.net">
    <link href="https://fonts.bunny.net/css?family=asar:400|bungee:400|nova-mono:400" rel="stylesheet" />
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" type="image/png" href="/favicon.png">
    <script src="/js/quotes.js"></script>
    <link rel="webmention" href="https://webmention.io/yequari.com/webmention" />
    <link rel="pingback" href="https://webmention.io/yequari.com/xmlrpc" />
    <script src="/js/webmention.js" async></script>
</head>
