{{ define "main" }}
<h1 class="p-name">{{ .Title }}</h1>
<section class="content">
    <article class="h-entry">
        {{ partial "tags.html" .}}
        <div class="e-content">
            {{ .Content }}
        </div>
    </article>
</section>
{{ end }}
