<head>
    <meta name="viewport" content="width=device-width"> 
    <meta charset="utf-8">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ .Page.Permalink }}">
    <meta property="og:title" content="{{ .Page.Title }}">
    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta property="og:description" content="{{ .Site.Params.About }}">
    <meta property="og:image" content="{{ .Site.Params.OgImage }}">
    <title>{{ .Page.Title }}</title>
    {{ partial "css.html" . }}
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="webmention" href="{{ .Site.Params.Webmentions }}" />
    <link rel="pingback" href="{{ .Site.Params.Pingbacks }}" />
    {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
</head>
