<div class="profile h-card">
    <a class="sitetitle u-url" rel="me" href="{{ .Site.BaseURL }}"><h1><span class="p-name">{{ .Site.Title }}</span></h1></a>
    <p class="about">
    {{.Site.Params.about}}
    </p>
</div>
