<div class="metadata">
  <div>
    <time class="dt-published" datetime="{{ .PublishDate }}">{{ .PublishDate.Format "Mon, Jan 2, 2006" }}</time> {{ partial "categories.html" .}} 
  </div>
  <div>
    {{ partial "tags.html" .}}
  </div>
</div>

