<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        <div class="big">
        {{- partial "sidebar.html" . -}}
        <div class="column">
            <main>
                {{- block "main" . }}{{- end }}
            </main>
        </div>
        </div>
    </body>
</html>
