{{ define "main" }}
<section class="content posts h-feed hfeed">
    <h1>{{ .Title }}</h1>
    {{ range .Pages }}
    <article class="h-entry">
        <h2><a class="title u-url p-name" href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        <time class="dt-published" datetime="{{ .PublishDate }}">{{ .PublishDate.Format "Mon, Jan 2, 2006" }}</time>
        {{ partial "tags.html" .}}
        <p class="summary">
            {{ .Summary }}
        </p>
        {{ if .Truncated }}
        <div>
            <a href="{{ .RelPermalink }}">Read More...</a>
        </div>
        {{ end }}
    </article>
    {{ end }}
</section>
{{ end }}
