{{ define "main" }}
<header>
</header>
<article class="h-entry content">
    <h1 class="p-name">{{ .Title }}</h1>
    <p><a href="/">← Return to yequari.com</a></p>
    <a class="p-author h-card hidden" href="https://yequari.com">yequari</a>
    <time class="dt-published" datetime={{.PublishDate }}>{{ .PublishDate.Format "Mon, Jan 02, 2006" }}</time>
    <a class="u-url permalink" href={{ .RelPermalink }}>Permalink</a>
    {{ partial "tags.html" .}}
    {{ if .Params.context }}
    <p class="context">{{ .Params.context | markdownify }}</p>
    {{ end }}
    <div class="e-content">
        {{ .Content }}
    </div>
</article>
{{ partial "webmentions.html" }}
<script src="/js/winter.js"></script>
{{ end }}
