<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width"> 
        <meta charset="utf-8">
        <title>{{ .Page.Title }}</title>
        <link rel="preconnect" href="https://fonts.bunny.net">
        <link href="https://fonts.bunny.net/css?family=b612-mono:400|asar:400|bungee:400|nova-mono:400|krub:400|lalezar:400" rel="stylesheet" />
        <link rel="stylesheet" href="/css/winter.css">
        <link rel="icon" type="image/png" href="/favicon.png">
        <link rel="webmention" href="https://webmention.io/yequari.com/webmention" />
        <link rel="pingback" href="https://webmention.io/yequari.com/xmlrpc" />
        <script src="/js/webmention.js" async></script>
        {{ range .AlternativeOutputFormats -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    </head>
    <body>
        <div class="big">
        <div class="column">
            <div id="winter"></div>
            <main>
                {{- block "main" . }}{{- end }}
            </main>
        </div>
        </div>
    </body>
</html>
