{{ define "main" }}
<section class="left sidebar">
    <h3>Figures I'm Looking For</h3>
    <ul>
    {{ range $.Site.Data.transformers.collection.wants }}
    <li> {{ .name }}</li>
    {{ end }}
    </ul>
    <h3>Recent Collection Additions</h3>
    <ul>
    {{ range $.Site.Data.transformers.collection.recent }}
    <li> {{ .name }}</li>
    </ul>
    {{ end }}
</section>
    <section class="content">
        {{ .Content }}
    </div>
{{ end }}
