{{ define "main" }}
    {{ .Content }}
    <h2>Latest Blog Posts</h2>
    <ul>
    {{ range first 3 (where .Site.RegularPages.ByDate.Reverse "Section" "blog") }}
        <li><a class="title u-url p-name" href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ end }}
    </ul>
{{ end }}
