{{ define "main" }}
<h1>{{ .Title }}</h1>
<section class="content posts h-feed hfeed">
    {{ range .Paginator.Pages.ByPublishDate.Reverse }}
    <article class="h-entry">
        {{ partial "post-header.html" .}}
        <h2><a class="title u-url p-name" href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        {{ if .Params.Subtitle }}<p class="subtitle">{{ .Params.Subtitle }}</p>{{ end }}
        <p class="summary">
            {{ .Summary }}{{ if .Truncated }}...{{ end }}
        </p>
    </article>
    {{ end }}
</section>
{{ template "_internal/pagination.html" . }}
<h3>See Posts From</h3>
{{- partial "posts-by-year.html" . -}}
{{ end }}
