{{ define "main" }}
    <article class="h-entry content">
        {{ if .Params.reply_to }}
            <p class="context">⬑ Reply to <a href="{{ .Params.reply_to.url }}" class="u-in-reply-to">{{ .Params.reply_to.title }}</a> by {{ .Params.reply_to.author }}.</p>
        {{ end }}
        <a class="p-author h-card hidden" href="https://yequari.com">yequari</a>
        {{ partial "post-header.html" .}}
        <a class="u-url permalink hidden" href={{ .RelPermalink }}>Permalink</a>
        <div class="e-content">
            <h1 class="p-name">{{ .Title }}</h1>
            {{ if .Params.Subtitle }}<p class="subtitle">{{ .Params.Subtitle }}</p>{{ end }}
            {{ .Content }}
        </div>
    </article>
{{ end }}
