---
title: "The Transformers Collection Starscream"
date: 2023-05-04T16:28:07-07:00
categories:
    - transformers
---
<figure>
    <img width="320px" src="old1.jpg">
    <img width="320px" src="old2.jpg">
    <figcaption>
        The Transformers Collection #9 Starscream, 2003. Ignore the dust, please.
    </figcaption>
</figure>

<p>
    While repainting G1 figures in a more show-accurate color scheme is relatively <a href="/transformers/vintage-starscream-2022">new to Hasbro</a>, it has been done by Takara in Japanese releases for a long time, notably all the way back in 2003 with <i>The Transformers Collection #9: Starscream</i>. Interestingly, the Hasbro reissue of Starscream from this time period was a straight-up rerelase with the original color scheme, changing only the length of the included missiles to comply with US toy safety regulations.   
</p>

<p>
    The primary difference between this deco and the original is the blue is lighter and the cockpit is now orange. On the wings, the red stripe is adjusted to be more screen accurate. Though this figure retains most of the original stickers, some were replaced by paint applications, most prominently the Decepticon symbols on his wings.  
</p>

<figure>
    <img src="G1Starscream_toy.jpg">
    <figcaption>
        Original release of G1 Starscream. Image from TFWiki.
    </figcaption>
</figure>

<p>
    This release is the first time a miniature gun-mode Megatron was included with Starscream, a feature which would become standard in most future rereleases. Starscream's fists are retooled so that he can hold Megatron, and it even includes a compatible fist for G1 Optimus Prime, which is an awesome addition. 
</p>

<figure>
    <img width="320px" src="optimus.jpg">
    <figcaption>
        Like that one episode
    </figcaption>
</figure>

<p>
    The jet mode is excellent. The lack of extended missiles definitely helps, it looks way less goofy. The blue nosecone is technically not screen accurate, but I think the more colorful jet looks better. 
</p>

<figure>
    <img width="320px" src="jetold.jpg">
    <img width="640px" src="comparison5.jpg">
</figure>

<p>
    Something I always appreciate about the Japanese Transformers figures, particularly before Hasbro unified releases worldwide, is the quality control, which in my experience has never been less than excellent. Unfortunately, I can't say the same of the 2022 Retro Starscream version. There is less paint overall, and the paint that is there is globby and bleeds outside of its boundaries. This is especially notable on the Megatron accessory, which on the Hasbro release is just two pieces of plastic painted over with a single color, which obscures a lot of the molded detail. It is somewhat expected that the release targeted for Japanese collectors is higher quality than a Hasbro mass retail release, but it is disappointing nonetheless.
</p>

<figure>
    <img src="megatroncomparison2.jpg">
    <figcaption>
        Top: Megatron included with The Transformers Collection Starscream
        <br>
        Bottom: Megatron included with Retro G1 Starscream. You can see how the pieces don't quite fit together due to the paint making the plastic too thick to fit into the slot. Or maybe it's mold degradation, who knows?
    </figcaption>
</figure>
