---
title: "2022 Vintage Starscream Reissue"
date: 2023-06-05T00:49:07-07:00
categories:
    - Transformers
---
<h1>2022 Vintage Starscream Reissue</h1>
<p>
    The recent Walmart exclusive Transformers: The Movie Vintage Generation 1 Starscream reissue is a new direction from Hasbro for reissues of old Generation 1 figures. In the past, G1 reissues were relatively unchanged from their original counterparts from the 1980s, sometimes with minor revisions, often related to US toy safety laws that had changed since the original release. Now, Hasbro is releasing repainted versions of G1 figures which more closely match the character's on-screen appearance in the cartoon. Starscream and Hot Rod were the first, but Thundercracker and Hound have also come since.
</p>
<figure>
    <img width="40%" height="auto" alt="2022 Reissue of G1 Starscream with new color scheme in robot mode" src="new1.jpg">
    <img width="40%" height="auto" alt="2022 Reissue of G1 Starscream with new color scheme in jet mode" src="jetnew.jpg">
</figure>
<p>
    This release of Starscream replaces the original decals with tampographed designs, most notably the Decepticon insignias and the vents below the knees. While it's nice to not have to try and sticker him up with my shaky hands, the replacement paint applications are quite scarce, which makes the figure somewhat boring. To better reflect Starscream's cartoon appearence, the blue highlights are a lighter shade, the cockpit is orange, the nosecone is now grey, and the face is painted black and grey, highlighted with red eyes. Unfortunately, the paint is kind of a mess. It's uneven and spotty all over. On the head there is a lot of gray showing through and the red paint on the eyes is globbed up, which looks odd. Even the die-cast chest is painted poorly such that it looks lumpy. All of these paint issues mostly affect the robot mode, but in jet mode they are less noticeable, which makes the jet a clear favorite between the two modes. My only complaint is that it isn't as visually interesting as it could be, especially compared with previous reissues, with the grey nosecone and the missing accents on the tail fins.
</p>

<figure>
    <img width="100%" alt="2022 Reissue of G1 Starscream with new color scheme in robot mode" src="comparison5.jpg">
    <figcaption>2022 Reissue Starscream compared to 2003 The Transformers Collection Starscream. The grey nosecone is technically screen accurate, but less interesting in my opinion</figcaption>
</figure>
<p>
    Starscream comes with a mini Megatron accessory to hold either in his hand or to clip onto the jet mode, which is a great addition, though mine does not quite together right, which ultimately doesn't matter much since most of the time Starscream's fist is between the two pieces. It's just another QA issue. The missiles are extended to comply with US toy safety laws, which looks fine in robot mode but looks pretty goofy in jet mode.
</p>
<figure>
    <img width="40%" height="auto" src="new2.jpg">
    <img width="40%" height="auto" src="noseconenew.jpg">
</figure>
<p>
    While this is a nice fresh take on a G1 reissue, the QA issues and lack of detail unfortunately prevent me from recommending the 2022 vintage Starscream reissue. At $35 retail, a better Starscream purchase would be the Legacy Voyager Class Armada Starscream. I think the value just isn't there to justify such a steep price for this figure, especially considering the last reissue from a few years ago retained all the original stickers at the same price point. Next time I'll take a look at Takara's 2003 The Transformers Collection release of Starscream, which executes the screen-accurate redeco perfectly, as a point of comparison. 
</p>
