{{ define "main" }}
<div id="sidebar" class="sidebar left">
    {{ partial "left-sidebar.html" . }}
</div>
<div id="content">
{{ .Content }}
</div>
<div id="right-sidebar" class="sidebar right">
    {{ partial "right-sidebar.html" . }}
</div>
{{ end }}
