{{ define "main" }}
<article>
    {{ .Content }}
    <h2>Latest Blog Posts</h2>
    {{ range first 3 (where .Site.RegularPages.ByDate.Reverse "Section" "blog") }}
        <h3>{{ .Name }}</h3>
        <p>{{ .Summary }}</p>
        <a href="{{ .RelPermalink }}">Read More &gt;</a>
    {{ end }}
</article>
{{ end }}
