  {{ range first 1 (where .Site.RegularPages.ByDate.Reverse "Section" "blog") }}
      {{ $d1 := time.ParseDuration "-168h" }}
      {{ $t1 := time.Now.Add $d1 }}
      {{ $t2 := time.AsTime .PublishDate }}
      {{ if $t2.After $t1 }}
          <div id="avatar-frame" class="online">
      {{ else }}
          <div id="avatar-frame" class="busy">
      {{ end }}
  {{ end }}
        <span class="gloss"></span>
        <img class="u-photo" width="100px" src="/images/avatar.jpg">
          </div>
