<p>
    {{ range first 1 (where .Site.RegularPages.ByDate.Reverse "Section" "blog") }}
        Site last updated <time id="last-update" datetime="{{ .PublishDate.Format "2006-01-02 15:04:05 -0700" }}">{{ .PublishDate.Format "January 2, 2006" }}</time>.
    {{ end }}
    <script src="https://tinylytics.app/embed/ig7D4Y9LSxprgCWfj5e8.js" defer></script>
</p>
