<ul class="link-list">
    <h2>{{ .name }}</h2>
    {{ range .links }}
    <li>
        <details>
            <summary>
                {{ .name }}
                <p>
                    {{ $u := urls.Parse .url }}
                    🔗<a target="_blank" href="{{ .url }}" >{{ $u.Hostname }}</a>
                </p>
            </summary>
            {{ .description }}
        </details>
    </li>
    {{ end }}
</ul>
