<section>
    <!-- <div id="avatar-frame" class="online"> -->
    <!--     <span class="gloss"></span> -->
    <!--     <img class="u-photo" width="100px" src="/images/avatar.jpg"> -->
    <!-- </div> -->
    {{ partial "avatar.html" . }}
    <p class="about-me">
        I'm yequari. I like programming, tabletop games, and the Transformers.
    </p>
</section>
<section>
    <!-- <div id="statuscafe"><div id="statuscafe-username"></div><div id="statuscafe-content"></div></div><script src="https://status.cafe/current-status.js?name=yequari" defer></script> -->
    {{ partial "statuscafe.html" .}}
</section>
<section>
    <!-- <h1>Social</h1> -->
    <ul class="social">
        {{ range site.Menus.social }}
        <li class="social">
            <img class="social" src="/icons/{{.Params.icon}}">
            {{ if .URL }}
            <a rel="me" href="{{ .URL | safeURL }}">
                {{ .Name }}
                <!-- <span class="social {{.Params.class}}"></span> -->
            </a>
            {{ else }}
            {{ .Name }}
            {{ end }}
        </li>
        {{ end }}
    </ul>
</section>
<!-- <section> -->
<!--     <h1>Quote of the Day</h1> -->
<!--     <div id="quote"> -->
<!--         <p id="subtitle">.</p> -->
<!--     </div> -->
<!-- </section> -->
