{{ define "main" }}
<section class="content posts h-feed hfeed">
    {{ range .Paginator.Pages.ByPublishDate.Reverse }}
    <article class="h-entry">
        <h2><a class="title u-url p-name" href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        <time class="dt-published" datetime="{{ .PublishDate }}">{{ .PublishDate.Format "Mon, Jan 2, 2006" }}</time>
        {{ partial "tags.html" .}}
        <p class="summary">
            {{ .Summary }}
        </p>
        {{ if .Truncated }}
        <div>
            <a href="{{ .RelPermalink }}">Read More &gt;</a>
        </div>
        {{ end }}
    </article>
    {{ end }}
    {{ template "_internal/pagination.html" . }}
</section>
<div id="right-sidebar">
    <h3>Archive</h3>
    <a href="/blog/2023">2023</a>
</div>
{{ end }}
