{{ define "main" }}
<section class="content">
    <article class="h-entry content">
        <h1 class="p-name">{{ .Title }}</h1>
        {{ if .Params.reply_to }}
        <p class="context">⤷ Reply to <a href="{{ .Params.reply_to.url }}" class="u-in-reply-to">{{ .Params.reply_to.title }}</a> by {{ .Params.reply_to.author }}.</p>
        {{ end }}
        <a class="p-author h-card hidden" href="https://yequari.com">yequari</a>
        <time class="dt-published" datetime={{.PublishDate }}>{{ .PublishDate.Format "Mon, Jan 02, 2006" }}</time>
        <a class="u-url permalink" href={{ .RelPermalink }}>Permalink</a>
        {{ partial "tags.html" .}}
        <div class="e-content">
            {{ .Content }}
        </div>
    </article>
    {{ partial "webmentions.html" }}
</section>
{{ end }}
