/* CSS HEX */
:root {
    --jet: #353535ff;
    --chinese-red: #aa3322ff;
    --pale-silver: #c4bbafff;
    --space-cadet: #292640ff;
    --xiketic: #0f101aff;
    --blue-ryb: #4056f4ff;
    --raisin-black: #241e1eff;
    --dim-gray: #756b6bff;
    --pewter-blue: #93A8ACff;

    --celestial-blue: #5299D3;
    --white-smoke: #F1EDEE;
    --midnight-blue: #18206F;
    --penn-blue: #17255A;
    --eerie-black: #172121;
    --vista-blue: #8EA4D2;


    /* solarized dark colors */
    --base00: #657b83;
    --base01: #586e75;
    --base02: #073642;
    --base03: #002b36;
    --base0: #839496;
    --base1: #93a1a1;
    --base2: #eee8d5;
    --base3: #fdf6e3;

    --yellow: #b58900;
    --orange: #cb4b16;
    --red: #dc322f;
    --magenta: #d33682;
    --violet: #6c71c4;
    --blue: #268bd2;
    --cyan: #2aa198;
    --green: #859900;

    --main-bg: var(--jet);
    --content-bg: var(--raisin-black);
    --primary-text: var(--pale-silver);
    --secondary-text: var(--pewter-blue);
    --primary-link: var(--chinese-red);
    --primary-link-hover: var(--pewter-blue);
    --secondary-link: var(--cyan);
    --secondary-link-hover: var(--pewter-blue);
    --ternary-link: var(--chinese-red);
    --ternary-link-hover: var(--pewter-blue);
}

@font-face {
    font-family: "Genesis";
    src: url("/fonts/NiseGenesis.TTF");
}

/*
 * Page text: Krub
 * Headings & Top nav: Lalezar 
 */

body {
    background-color: var(--main-bg);
    color: var(--primary-text);
    font-size: 12pt;
    font-family: 'Krub', sans-serif;
    scrollbar-width: none;
    padding: 0;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--secondary-text);
    font-family: 'B612 Mono', monospace;
}

h1 {
    font-size: 1.8rem;
}

p {
    height: fit-content;
    line-height: 1.8;
}

a {
    transition: color 0.5s;
}

a:link, a:visited {
    color: var(--primary-link);
    text-decoration: none;
}

a:hover, a:active {
    color: var(--primary-link-hover);
}

a.tag {
    color: var(--secondary-link);
}

a.tag:hover, a.tag:active {
    color: var(--secondary-link-hover);
}

a.permalink {
    padding: 0 5px;
}

a.summary {
    color: var(--primary-text);
}

.big {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    padding: 0;
    flex: 1;
    min-height: 100vh;
}

.main-sidebar {
    width: 20%;
}

.header-nav {
    position: sticky;
    top: 0px;
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-flow: column;
}

header {
    flex: 1 1 35%;
}

header h1 {
    font-family: "Genesis", 'Courier New', Courier, monospace;
    font-size: 1rem;
    color: var(--pewter-blue);
}

header ul.social {
    list-style-type: none;
    margin: 0;
    padding: 15px 0;
    text-align: center;
}

header li.social {
    display: inline;
}

header li.social a {
    display: inline-block;
    padding: 0 10px;
    color: var(--secondary-link);
}

header a.sitetitle {
    text-decoration: none;
}

p#subtitle {
    text-align: center;
    padding: 0 1em;
}

p.about {
    padding: 15px;
}

p.context {
    font-style: italic;
}

span.social {
    display: inline-block;
    width: 16px;
    height: 16px;
    color: white;
}

span.masto {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M21.2595 13.9898C20.9852 15.4006 18.8033 16.9446 16.2974 17.2439C14.9907 17.3998 13.7041 17.5431 12.3321 17.4802C10.0885 17.3774 8.31809 16.9446 8.31809 16.9446C8.31809 17.163 8.33156 17.371 8.3585 17.5655C8.65019 19.7797 10.5541 19.9124 12.3576 19.9742C14.1779 20.0365 15.7987 19.5254 15.7987 19.5254L15.8735 21.1711C15.8735 21.1711 14.6003 21.8548 12.3321 21.9805C11.0814 22.0493 9.52849 21.9491 7.71973 21.4703C3.79684 20.432 3.12219 16.2504 3.01896 12.0074C2.98749 10.7477 3.00689 9.55981 3.00689 8.56632C3.00689 4.22771 5.84955 2.95599 5.84955 2.95599C7.2829 2.29772 9.74238 2.0209 12.2993 2H12.3621C14.919 2.0209 17.3801 2.29772 18.8133 2.95599C18.8133 2.95599 21.6559 4.22771 21.6559 8.56632C21.6559 8.56632 21.6916 11.7674 21.2595 13.9898ZM18.3029 8.9029C18.3029 7.82924 18.0295 6.97604 17.4805 6.34482C16.9142 5.71359 16.1726 5.39001 15.2522 5.39001C14.187 5.39001 13.3805 5.79937 12.8473 6.61819L12.3288 7.48723L11.8104 6.61819C11.2771 5.79937 10.4706 5.39001 9.40554 5.39001C8.485 5.39001 7.74344 5.71359 7.17719 6.34482C6.62807 6.97604 6.3547 7.82924 6.3547 8.9029V14.1562H8.43597V9.05731C8.43597 7.98246 8.88822 7.4369 9.79281 7.4369C10.793 7.4369 11.2944 8.08408 11.2944 9.36376V12.1547H13.3634V9.36376C13.3634 8.08408 13.8646 7.4369 14.8648 7.4369C15.7694 7.4369 16.2216 7.98246 16.2216 9.05731V14.1562H18.3029V8.9029Z'%3E%3C/path%3E%3C/svg%3E");
}

span.email {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M3 3H21C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V4C2 3.44772 2.44772 3 3 3ZM12.0606 11.6829L5.64722 6.2377L4.35278 7.7623L12.0731 14.3171L19.6544 7.75616L18.3456 6.24384L12.0606 11.6829Z'%3E%3C/path%3E%3C/svg%3E");
}

span.rss {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M3 3C12.9411 3 21 11.0589 21 21H18C18 12.7157 11.2843 6 3 6V3ZM3 10C9.07513 10 14 14.9249 14 21H11C11 16.5817 7.41828 13 3 13V10ZM3 17C5.20914 17 7 18.7909 7 21H3V17Z'%3E%3C/path%3E%3C/svg%3E");
}

nav {
    flex: 3 1 55%;
    text-align: right;
    padding-right: 0.4em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li a {
    display: inline-block;
    padding: 15px 20px;
    font-family: 'B612 Mono', monospace;
    font-weight: bold;
}

nav li a:link, nav li a:visited {
    color: var(--ternary-link);
}

nav li a:hover, nav li a:active {
    color: var(--ternary-link-hover);
}

main {
    flex: 8 1;
    background-color: var(--content-bg);
    padding: 30px 50px 100px 150px;
    z-index: 1;
}

main li {
    padding: 0.2em 0;
}

.sidebar {
    flex: 3 1;
    margin: 0 2rem;
}

.sidebar p {
    line-height: 1;
}


article {
    max-width: 750px;
}

article p.context {
    margin-top: -25px;
    padding-left: 25px;
}

article p {
    text-align: justify;
    font-size: 1.1rem;
}

article img {
    display: block;
    max-width: 400px;
    margin: 8px auto;
    text-align: center;
}

article figcaption {
    text-align: center;
    font-size: 14px;
}

section.posts ul {
    list-style-type: none;
}

article time {
    color: var(--secondary-text);
}

article a.title {
    color: var(--primary-link);
}

article a.title:hover, article a.title:active {
    color: var(--primary-link-hover);
}

blockquote {
    font: 14px/22px normal helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    padding-left: 15px;
    border-left: 3px solid #ccc;
}

code {
    background-color: black;
    overflow-x: scroll;
    padding: 0 5px;
    color: white;
}

pre code{
    padding: 15px;
    display: block;
}

ul.pagination {
    list-style: none;
    text-align: center;
}

li.page-item {
    display: inline;
    padding: 0.3rem;
}


footer {
    padding: 0 0 15px 0px;
    text-align: center;
    color: var(--secondary-text);
    border-top: 1px solid var(--secondary-text);
    position: sticky;
    top: 450px;
}


#webmentions img { max-height: 1.2em; margin-right: -1ex; }

.hidden {
    display: none;
}

.center {
    text-align: center;
}

/*
 * Links page
 */


#links-main {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
}

#links-main li {
    padding: 7px 0;
    list-style-type: none;
}

.link-list details {
    border: 1px dotted var(--pewter-blue);
    padding: 0.5em 0.5em 0;
}

.link-list details[open] {
    padding: 0.5em;
}

.link-list details[open] summary {
    border-bottom: 1px dotted var(--pewter-blue);
    margin-bottom: 0.5em;
}

.link-list summary {
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}

.links-column {
    display: flex;
    flex-direction: column;
    flex: 1 1 30%;
    overflow-wrap: break-word;
}

.send-webmention {
    margin: 55px 25px;
    max-width: fit-content;
    border: 1px dotted var(--primary-text);
    padding: 0 20px 20px;
}

.send-webmention p {
    font-size: 1.3rem;
}

@media only screen and (max-width: 800px) {
    div.nav {
        border: none;
    }

    body {
        background-color: var(--content-bg);
    }

    .main-sidebar {
        width: 100%;
    }

    main {
        padding: 0 45px;
    }

    article img {
        max-width: 250px;
    }

    .big {
        flex-direction: column;
        width: unset;
    }

    .header-nav {
        position: unset;
        min-height: unset;
    }

    .column {
        border: none;
        background: none;
        max-width: unset;
        margin: 0 auto;
        padding: 0.2rem;
        min-height: unset;
    }

    #content {
        padding: 0;
    }

    div.titlex {
        margin: 0 auto;
    }
}
