<footer>
    <div id="quote">
        <p id="subtitle">.</p>
    </div>
    <div id="social-links">
        <ul class="social">
            {{ range site.Menus.social }}
            <li class="social"><a rel="me" href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
        </ul>
    </div>
</footer>
