<head>
    <meta name="viewport" content="width=device-width"> 
    <meta charset="utf-8">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://yequari.com/">
    <meta property="og:title" content="{{ .Page.Title }}">
    <title>{{ .Page.Title }}</title>
    <link rel="preconnect" href="https://fonts.bunny.net">
    <link href="https://fonts.bunny.net/css?family=b612-mono:400|krub:400" rel="stylesheet" />
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" type="image/png" href="/favicon.png">
    <script src="/js/quotes.js"></script>
    <link rel="webmention" href="https://webmention.io/yequari.com/webmention" />
    <link rel="pingback" href="https://webmention.io/yequari.com/xmlrpc" />
    <script src="/js/webmention.js" async></script>
    {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
</head>
