<div class="main-sidebar">
    <div class="header-nav">
        <header>
            <div class="profile h-card">
                <a class="sitetitle u-url" rel="me" href="{{ .Site.BaseURL }}"><h1><span class="p-name">{{ .Site.Title }}</span></h1></a>
                <img class="u-photo" width="100px" src="/images/avatar.jpg">
                <div id="social-links">
                    <ul class="social">
                        {{ range site.Menus.social }}
                        <li class="social">
                            <a rel="me" href="{{ .URL }}">
                                <span class="social {{.Params.class}}"></span>
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
                <p class="about p-note">
                    {{.Site.Params.about}}
                </p>
            </div>
        </header>
        <nav>
            <ul>
                {{ range site.Menus.main }}
                    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
            </ul>
        </nav>
        <div id="quote">
            <p id="subtitle">.</p>
        </div>
    </div>
</div>
