<div class="send-webmention">
    <h2>Webmentions</h2>
    <div id="webmentions"></div>
    <p>Have you written a response to this post? Send me a webmention!</p>
    <form action="https://webmention.io/yequari.com/webmention" method="post" class="webmention-form">
        <label for="form-webmention-source">URL</label>
        <input id="form-webmention-source" type="url" name="source" placeholder="https://example.com" required/>
        <input type="hidden" name="target" value="{{ .Page.URL }}"/>
        <input type="submit" class="button" value="Send Webmention"/>
    </form>
</div>
