{{ define "main" }}
<div id="sidebar"></div>
<div id="content" class="posts h-feed hfeed">
    <h1>{{ .Title }}</h1>
    <ul>
    {{ range .Pages }}
        <li><a href="{{.RelPermalink}}">{{.Title}}</a></li>
    {{ end }}
    </ul>
</div>
{{ end }}
