{{ define "main" }}
<div class="left sidebar">
    <h6>Figures I'm Looking For</h6>
    <ul>
    {{ range $.Site.Data.transformers.collection.wants }}
    <li> {{ .name }}</li>
    {{ end }}
    </ul>
    <h6>Recent Collection Additions</h6>
    <ul>
    {{ range $.Site.Data.transformers.collection.recent }}
    <li> {{ .name }}</li>
    </ul>
    {{ end }}
</div>
    <div id="content">
        {{ .Content }}
    </div>
{{ end }}
