{{ define "main" }}
{{ .Content }}
    <div id="links-main">
        <div class="links-column">
            {{ range $.Site.Data.links.left }}
                {{ partial "linklist.html" . }}
            {{ end }}
        </div>
        <div class="links-column">
            {{ range $.Site.Data.links.right }}
                {{ partial "linklist.html" . }}
            {{ end }}
        </div>
    </div>
{{ end }}
