<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        <div class="wrapper">
            <header>
                {{- partial "header.html" . -}}
            </header>
            <nav>
                {{- partial "nav.html" . -}}
            </nav>
            <div class="main-sidebar">
                <section class="sidebar">
                    {{- partial "sidebar.html" . -}}
                </section>
                <main>
                    {{- block "main" . }}{{- end }}
                </main>
                <footer>
                    {{- partial "footer.html" . -}}
                </footer>
            </div>
        </div>
    </body>
</html>
