{{ define "main" }}
<h1>{{ .Title }}</h1>
<section class="content posts h-feed hfeed">
    {{ range .Pages }}
    <article class="h-entry">
        <h2><a class="title u-url p-name" href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        {{ partial "post-header.html" .}}
        <p class="summary">
            {{ .Summary }}{{ if .Truncated }}...{{ end }}
        </p>
    </article>
    {{ end }}
</section>
{{ end }}
